// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Dividers
hr.rounded {
    border-radius: 5px;
    border-top: 4px solid;
    color: $primary;
    opacity: 1.0;
}

// Cards
.card-main {
    @extend #{'.card', '.shadow-lg'};
}

.card-header-main {
    @extend #{'.card-header', '.bg-primary', '.text-white', '.fw-bold'};
}

.card-header-sub {
    @extend #{'.card-header', '.bg-primary', '.text-white'};
}

// Background images
.backdrop-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position:absolute;
    z-index:-1;
}
